<form [formGroup]="taskForm" (submit)="editTask()">
    <div class="mb-3">
        <label for="taskId" class="form-label">Task ID</label>
        <input type="text" class="form-control" id="taskId" aria-describedby="emailHelp" formControlName="id">
      </div>
      <div class="mb-3">
        <label for="taskName" class="form-label">Task Name</label>
        <input type="text" class="form-control" id="taskName" formControlName="name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a routerLink="" class="btn btn-secondary">Back</a>
</form>

